
.TodoContainer {
  height: 100%;
  width: 100%;
}

.NavBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: aquamarine;
}

.Header {
  text-align: center;
}