
.TodoContainer {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.NavBar {
  background-color: black;
  color: white;
  text-align: right;
}

.Header {
  text-align: left;
}

.Body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
}

.Click {
  margin-left: 20%;
  margin-right: 20%;
}